._5vbd{margin-bottom:12px}._5vbe{margin-left:4px}._5vbf{word-wrap:break-word}._5vbg{margin-top:8px}
._5vb4 ._4kh,._5vev{margin:0 8px}._5vb4 ._5vb7{margin:-20px 0 0}._5veu{text-align:center}._5ves{margin:12px -16px 0}
._4i6j{display:inline-block;margin:2px;overflow:hidden;position:relative}._4i6j:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_pMcjO{height:42px;}.bootloader_pMcjO{display:block!important;}