._5p_8{border-bottom:1px dashed #ccc}._5p_9{color:#696f7f;padding:8px}._5p_a{color:#90949c}
.touch._fzu .structuredPublisher.feedRevampPadding._5r18{background:white;padding:0}
._26wh{margin:0 -8px -8px}._26wi{margin:8px}
.sp_JjKoH3-ANgE{background-image:url(/rsrc.php/v2/y_/r/PMyKdmO6YIn.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_JjKoH3-ANgE.sx_90c3b4{background-position:0 0}.sp_JjKoH3-ANgE.sx_d831b9{width:16px;height:16px;background-position:0 -35px}

#bootloader_KZtkZ{height:42px;}.bootloader_KZtkZ{display:block!important;}